:root.theme-dark {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --bg-image: url("../images/cover-image-dark.png");
}

/* AUTO — если стоит prefers-color-scheme: dark */
@media (prefers-color-scheme: dark) {
  :root.theme-auto {
      --bg-color: #000028;
      --text-color: #F1B2CE;
      --accent-color: #FF0070;
      --title-color: #DB00FF;
      --bg-image: url("../images/cover-image-dark.png");
  }
}
