*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

button {
    font: inherit;
    background: none;
    border: none;
    cursor: pointer;
}
