:root.theme-light {
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --section-title-color: #353430;
  --button-color: #353430;
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --link-shadow: #ff8dcb;
  --bg-image: url('../images/cover-image-light.png');
  --article-title-bg: #ff8dcb;
  --article-title-color: #353430;
}

/* Автоматическая светлая тема */
@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --bg-color: #fff1f7;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --section-title-color: #353430;
    --button-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --link-shadow: #ff8dcb;
    --bg-image: url('../images/cover-image-light.png');
    --article-title-bg: #ff8dcb;
    --article-title-color: #353430;
  }

  .header__decoration {
    display: none;
  }

  .header__theme-menu-button_active {
    border-color: var(--button-color);
  }
}

/* Скрываем REC в светлой теме при принудительном переключении */
.theme-light .header__decoration {
  display: none;
}