:root.theme-light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;

  --bg-image: url("../images/cover-image-light.png");
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
      --bg-color: #FFF1F7;
      --text-color: #353430;
      --accent-color: #FF8DCB;
      --title-color: #FFC2E6;
      --bg-image: url("../images/cover-image-light.png");
  }
}
