.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  color: var(--text-color);
  font-family: var(--font-main);

  min-inline-size: 320px;
}

/* DECORATED ZONE */
.decorated-zone {
  position: relative;
  min-height: 100vh;
  padding: 20px;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border: 1px solid var(--accent-color);
}

.decorated-zone::before {
  inset-block-start: 20px;
  inset-inline-end: 20px;
  border-inline-start: none;
  border-block-end: none;
}

.decorated-zone::after {
  inset-block-end: 20px;
  inset-inline-start: 20px;
  border-inline-end: none;
  border-block-start: none;
}

/* HEADER */
.header {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: start;
  gap: 40px;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--accent-color);
  padding: 5px 13px;
  border: 1px solid transparent;
}

.header__theme-menu-button:hover {
  border-color: var(--accent-color);
}

.header__theme-menu-button:focus-visible {
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border-color: var(--accent-color);
}

.header__rec {
  position: absolute;
  top: 20px;
  right: 48px;
  color: var(--accent-color);
  font-size: 18px;
}

.theme-light .header__rec {
  display: none;
}

.header__title {
  font-size: clamp(7.25rem, 7rem + 2vw, 9.5rem);
  line-height: 1;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  max-inline-size: 364px;
}

/* MAIN */
.section {
  margin-block: 40px;
}

.section__title {
  margin-block-end: 20px;
}

.section__content,
.section__list {
  display: grid;
  gap: 20px;
}

.section__list-item {
  display: grid;
  gap: 10px;
}

/* TITLE DECOR */
.title-decor {
  background-color: var(--accent-color);
  color: var(--bg-color);
  padding: 5px 10px;
}

/* GALLERY */
.gallery__grid {
  display: grid;
  gap: 10px;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* FOOTER */
.footer {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.footer__title {
  font-size: clamp(3rem, 2rem + 5vw, 7rem);
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* MEDIA */
@media (min-width: 768px) {
  .header {
      grid-template-rows: auto auto 1fr;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
      flex-direction: row;
  }
}
