.page {
  min-inline-size: 375px;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Header */
.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.header__theme-menu {
  justify-self: end;
  margin-block-start: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 13px;
  background: transparent;
  cursor: pointer;
  text-transform: lowercase;
  font-size: 18px;
  line-height: 1;
}

.header__theme-menu-button:hover {
  border-color: var(--button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.header__decoration {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 29px; /* подогнано под макет */
  color: var(--accent-color);
  font-size: 18px;
  text-transform: uppercase;
}

.header__decoration::after {
  content: '';
  position: absolute;
  inset-block-start: 8px;
  inset-inline-end: -20px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  justify-self: end;
  max-inline-size: 364px;
  margin-inline-end: 10px;
}

/* Декоративные уголки */
.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border: 1px solid var(--accent-color);
}

.decorated-zone::before {
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-inline-start-color: var(--accent-color);
  border-block-end-color: var(--accent-color);
  border-inline-end-color: transparent;
  border-block-start-color: transparent;
}

.decorated-zone::after {
  inset-block-start: 10px;
  inset-inline-end: 10px;
  border-inline-end-color: var(--accent-color);
  border-block-start-color: var(--accent-color);
  border-inline-start-color: transparent;
  border-block-end-color: transparent;
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 10px;
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  color: var(--section-title-color);
  font-weight: 700;
  font-size: inherit;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-decor {
  background-color: var(--article-title-bg);
  color: var(--article-title-color);
  font-weight: 700;
  padding: 2px 5px 2px 5px;
  display: inline-block;
}

.article__title {
  font-size: inherit;
  line-height: 1.3;
  font-weight: 700;
}

.article__text {
  margin-block-start: 10px;
}

.link {
  text-shadow: 2px 2px 0 var(--link-shadow);
}

.link:hover {
  border-block-end: 1px solid currentColor;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

/* Gallery */
.gallery__grid {
  display: grid;
  gap: 10px;
  margin-block-start: 10px;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

/* Footer */
.footer {
  position: relative;
  display: grid;
  place-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
}

.footer__title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 0.825;
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* Tablet & Desktop */
@media (width >= 768px) {
  .header {
    padding: 20px;
  }

  .header__theme-menu {
    margin-block-start: 172px;
  }

  .header__decoration {
    inset-block-start: 20px;
    inset-inline-end: 48px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }

  .header__text {
    margin-inline-end: 20px;
    max-inline-size: 491px;
  }

  .decorated-zone::before,
  .decorated-zone::after {
    inline-size: 25px;
    block-size: 25px;
  }

  .decorated-zone::before {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .decorated-zone::after {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .section__title {
    grid-column: 1;
  }

  .section__content {
    grid-column: 2;
  }

  .solutions .section__content {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-block-start: 20px;
  }

  .gallery__image:first-child  { grid-column: 1 / 3; grid-row: 1; }
  .gallery__image:nth-child(2) { grid-column: 3; grid-row: 1 / 3; }
  .gallery__image:nth-child(3) { grid-column: 1; grid-row: 2 / 4; }
  .gallery__image:nth-child(4) { grid-column: 2; grid-row: 2; }
  .gallery__image:last-child   { grid-column: 2 / 4; grid-row: 3; }

  .footer {
    padding: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    margin-block-start: 0;
    margin-inline-start: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .solutions .section__content {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}