:root {
  /* Шрифты */
  --font-family: "Inter-Variable", sans-serif;
  --accent-font: "PressStart2P", fantasy;
  
  /* Насыщенность */
  --main-font-weight: 400;
  --accent-font-weight: 700;
  
  /* Цвета светлой темы (по умолчанию) */
  --bg-color: #fff;
  --accent-color: #000;
  --button-text-color: #fff;
  --label-shadow: #fff;
  --contour-color: #000;
  --fill-color: #ff0000;
  
  /* Фон светлой темы */
  --bg-image: 
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}