:root {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;

  --bg-image: url("../images/cover-image-dark.png");

  --font-main: "IBM Plex Mono", monospace;
}
